<h3>En popüler kategoriler</h3>

<br>
<br>
<div class="row">
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg"><br>
        </a>
        Yazılım Geliştirme

    </div>
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg"><br>
        </a>
        Pazarlama

    </div>
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg"><br>
        </a>
        BT ve Yazılım

    </div>
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg"><br>
        </a>
        Tasarım

    </div>
</div>

<div class="row">
    <div class="col md-3">
        <a href="#">
            <img
                src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg"><br>
        </a>
        Kişisel Gelişim
    </div>
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg"><br>
        </a>
        İşletme
    </div>
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg"><br>
        </a>
        Fotoğrafçılık
    </div>
    <div class="col md-3">
        <a href="#">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg"><br>
        </a>
        Müzik

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row" style="width:100%; background-color: thistle;">

    <h2>Featured topics by category</h2>

    <table class="table table-borderless">
        <tr>
            <th>Yazılım Geliştirme</th>
            <th>İşletme</th>
            <th>BT ve Yzılım</th>
            <th>Tasarım</th>
        </tr>
        <tr>
            <td><a href="#">python </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">finansal analiz </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">AWS sertifikasyonu </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">photosghop </a><br>
                6.054.123 öğrenci
            </td>
        </tr>
        <tr>
            <td><a href="#">Web geliştirme </a><br>
                9.649.542 öğrenci
            </td>
            <td><a href="#">SQL </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">etik hackleme </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">grafik tasarım </a><br>
                30.211.530 öğrenci
            </td>
        </tr>
        <tr>
            <td><a href="#">makine öğrenimi </a><br>
                6.054.123 öğrenci
            </td>

            <td><a href="#">PMP </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">siber güvenlik </a><br>
                30.211.530 öğrenci
            </td>
            <td><a href="#">çizim </a><br>
                30.211.530 öğrenci
            </td>
        </tr>
    </table>
</div>
