<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body" style="margin-top: 8rem !important; ">

                        <h5 class="card-title">Eğitmen Olun</h5>
                        <p class="card-text">Dünyanın dört bir yanından eğitmenler udemy de milyonlarda
                            öğrenciye eğitim veriyor.
                            Sevdiğiniz şeyleri öğretmeniz için gereken araçları ve gereçleri sağlıyoruz.
                        </p>
                        <button type="button" class="btn btn-dark">Hemen Eğitim Vermeye Başlayın</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="row bg-light ">
    <div class="row" style="padding: 20; padding-left: 200; ">
        Her ölçekteki şirketler tarafından güvenilir

        <ul class="nav" style="padding-right: 50;">
            <li class="nav-item">
                <img src="https://s.udemycdn.com/partner-logos/v4/apple-dark.svg" class="card-img-top"
                    alt="...">
            </li>
            <li class="nav-item">
                <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" class="card-img-top"
                    alt="...">
            </li>
            <li class="nav-item">
                <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" class="card-img-top"
                    alt="...">
            </li>
            <li class="nav-item">
                <img src="https://s.udemycdn.com/partner-logos/v4/netflix-dark.svg" class="card-img-top"
                    alt="...">
            </li>
            <li class="nav-item">
                <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" class="card-img-top"
                    alt="...">
            </li>

        </ul>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col md-6">
    <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-ub.svg" style="width: 300; height: 300;"
        alt="..."><br>
    <h6>Ekibiniz için popüler 6.000+ Udemy kursuna sınırsız erişim elde edin.
        İşletme, teknoloji, tasarım ve daha birçok konuda eğitim alın ve yetkinliklerinizi geliştirin.</h6>
</div>
<div class="col md-6">
    <img src="https://s.udemycdn.com/home/non-student-cta/ub-1x-v3.jpg" alt="...">
</div>
</div>
</div>

<br>
<br>
<br>



<div class="row">
<div class="col">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://s.udemycdn.com/home/non-student-cta/transform-1x-v3.jpg"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card-body" style="margin-top: 8rem !important; ">

                    <h5 class="card-title">Eğitmen Olun</h5>
                    <p class="card-text">Dünyanın dört bir yanından eğitmenler udemy de milyonlarda
                        öğrenciye eğitim veriyor.
                        Sevdiğiniz şeyleri öğretmeniz için gereken araçları ve gereçleri sağlıyoruz.
                    </p>
                    <button type="button" class="btn btn-dark">Hemen Eğitim Vermeye Başlayın</button>
                </div>
            </div>
        </div>
    </div>
</div>

